.jumbotron h1 {
  text-align: center;
}

.row h1 {
  text-align: center;
  color: blue;
}

.col-sm-4 {
  text-align: center;
  color: purple;
}

footer {
  text-align: center;
  padding: 20px;
}

.correctAnswer {
  color: green;
}

.wrongAnswer {
  color: red;
}
