body {

}

.jumbotron h1 {
  text-align: center;
}

.row {
  padding: 20px;
}

.row h1 {
  text-align: center;
  color: blue;
}

.col-sm-4 {
  text-align: center;
  color: purple;
  border-style: solid;
  border-color: white;

}

footer {
  text-align: center;
  padding: 20px;
}

.correctAnswer {
  color: white;
  border-style: solid;
  border-color: green;
  background-color: green;
}

.wrongAnswer {
  color: white;
  border-style: solid;
  border-color: red;
  background-color: red;
}

#sidebar {
  color: red;
}
